/*****************/
/* NAVBAR STYLES */
/*****************/
.navbar {
  padding: 1.6rem 3.2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
}

.navbar-links {
  display: flex;
  gap: 3.2rem;
}

.navbar-link:any-link {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #8b32a1;
}
