/*****************/
/* GLOBAL STYLES */
/*****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #ae3ec9;
}

/*******************/
/* REUSABLE STYLES */
/*******************/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.hidden {
  display: none;
}
